<small class="text-muted"> Height: {{height}} </small>
<br>
<small class="text-muted"> Gender: {{gender}} </small>
<br><br>
Click <a href="http://www.bmi-calculator.net/ideal-weight-calculator/broca-formula/" target="_blank">Here</a> for details.
<!--<br><br>-->
<!--<small class="text-muted">-->
<!--    Miller, D. R. "Determining ideal body weight (and mass)." Am J Hosp Pharm 40 (1983): 1622.-->
<!--</small>-->