<small class="text-muted"> Height: {{height}} </small>
<br>
<small class="text-muted"> Gender: {{gender}} </small>
<br><br>
Click <a href="http://www.bmi-calculator.net/ideal-weight-calculator/devine-formula/" target="_blank">Here</a> for details.
<br>
<small class="text-muted">
    Devine, Ben J. "Gentamicin therapy." (1974): 650-655.
</small>