<h3>Weight Recordings</h3>
<p>
    The purpose of this page is to provide visualization and analysis for body weight recordings over time,
    with the ultimate goal of promoting weight loss and/or maintenance of a healthy body weight.
    It contains 4 primary components:
    <dl>
        <dt>Chart</dt>
        <dd class="mx-3">
            A line graph that visualises weight recordings over time. The current date range can be changed by dragging across the chart area or by selected from several pre-defined ranges.
        </dd>

        <dt>Milestone Tracking</dt>
        <dd class="mx-3">
            A milestone is considered to be "Achieved" when weight drops below the target value or range. The maintenance period is counted from the last recording to achieve the milestone.
        </dd>

        <dt>Date Range Analysis</dt>
        <dd class="mx-3">
            Several statistical measures are provided on the page: Below the chart area for the currently selected date range, and in the "Date Range Analysis" tab for all pre-defined ranges.
        </dd>

        <dt>Raw Data</dt>
        <dd class="mx-3">
            A table containing the entire dataset.
        </dd>
    </dl>
</p>

