<small class="text-muted"> Height: {{height}} </small>
<br>
<small class="text-muted"> Wrist: {{wrist}} </small>
<br>
<small class="text-muted"> Gender: {{gender}} </small>
<br><br>
Click <a href="http://www.bmi-calculator.net/ideal-weight-calculator/hamwi-formula/" target="_blank">Here</a> for details.
<br>
<small class="text-muted">
    Hamwi, GEORGE J. "Therapy: changing dietary concepts." Diabetes mellitus: diagnosis and treatment 1 (1964): 73-78.
</small>