<small class="text-muted"> Height: {{height}} </small>
<br><br>
Click <a href="http://www.bmi-calculator.net/ideal-weight-calculator/lemmens-formula/" target="_blank">Here</a> for details.
<br>
<small class="text-muted">
    Lemmens, Harry JM, Jay B. Brodsky, and Donald P. Bernstein. "Estimating ideal body weight–a new formula." Obesity surgery 15.7 (2005): 1082-1083.
</small>