<h5>Mean Absolute Deviation</h5>
The average positive difference between each weight value and the mean.
<br><br>
This value indicates consistency during periods of intended weight maintenance. A smaller value represents greater consistency.
<br><br>
<small class="text-muted"> Click <a href="https://en.wikipedia.org/wiki/Average_absolute_deviation" target="_blank">Here</a> for details. </small>