Defined as a BMI greater than or equal to 40. Also known as Morbid Obesity.
<br><br>
<small class="text-muted"> Height: {{height}} </small>
<br>
<small class="text-muted"> Click <a href="https://en.wikipedia.org/wiki/Classification_of_obesity#BMI" target="_blank">Here</a> for details. </small>