<small class="text-muted"> Height: {{height}} </small>
<br>
<small class="text-muted"> Gender: {{gender}} </small>
<br><br>
Click <a href="http://www.bmi-calculator.net/ideal-weight-calculator/robinson-formula/" target="_blank">Here</a> for details.
<br>
<small class="text-muted">
    Robinson, J. Daniel, et al. "Determination of ideal body weight for drug dosage calculations." American journal of hospital pharmacy 40.6 (1983): 1016-1019.
</small>