<h5>Standard Error of the Regression</h5>
The average positive difference between each weight value and its value predicted by the trend line.
<br><br>
During periods of weight loss (or gain), this value indicates how consistent that loss (or gain) is. A smaller value represents greater consistency.
<br><br>
<small class="text-muted"> Click <a href="https://en.wikipedia.org/wiki/Standard_error" target="_blank">Here</a> for details. </small>