Defined as a BMI less than 18.5.
<br><br>
<small class="text-muted"> Height: {{height}} </small>
<br>
<small class="text-muted"> Click <a href="https://en.wikipedia.org/wiki/Classification_of_obesity#BMI" target="_blank">Here</a> for details. </small>